* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(221, 221, 221) url(../imagens/logo.png) no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 50em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(15, 9, 9);
}

a
{
    text-decoration: none;
    color: rgb(97, 95, 95);
}

a:hover 
{
    background: rgb(238, 236, 236);
    color: rgb(97, 95, 95);
    border-radius: 5px;
}

a:visited
{
    color: rgb(97, 95, 95);
}

.rede 
{
    
    width: auto;
    height: 120px;
    background: #FFF url(../imagens/gavioes.png) center repeat-x;
    text-align: right;
    display: block;
}
ul.menu{
    padding: 15px;
    background: rgb(255, 255, 255);
    width: auto;
}

.horizontal 
{
    
    padding: 110px;
    display: inline;
    margin: 20px;
   
}

.principal
{   
    margin: auto;
    width: 1000px;
    height: 650px;
    background-color: rgb(244, 246, 247);
    position: relative;
    top: 10px;
    border-radius: 20px;
    
}

.noticia
{
    width: 265px;
    margin: 5px 10px;
    padding: 20px;
    background-color: rgb(231, 238, 238);
    float: left;
}
.fotos
{   
    
    width: white;
    width: 300px;
    padding: 5px;
    margin: 8px;
    float: left;
}

.clear 
{
    clear: both;
}

#form
{
   margin: 20px;
   background: url(../imagens/mascote-corinthians.png) no-repeat fixed center;
}



.rodape
{
    width: 100%;
    text-align: center;
    background-color: rgb(146, 146, 146);
    position: absolute;
    bottom: 0px;
}