* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(241, 236, 236) url(../imagens/logo.png) no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 50em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(211, 56, 56);
}

.rede 
{
    
    width: auto;
    height: 180px;
    background: #FFF url(../imagens/gavioes.png) center repeat-x;
    text-align: right;
    display: block;
    /*clear:both;*/
}
ul.menu{
    background: url(../imagens/fundo-horizontal.png) repeat-x;
    width: 560px;
}

.horizontal 
{
    border-right: 2px solid rgb(75, 100, 121);

    display: inline;
    margin: 20px;
   
}

.rodape
{
    text-align: center;
    background-color: rgb(201, 231, 231);
}