* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(241, 236, 236) url(../imagens/logo.png) no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 50em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(15, 9, 9);
}

a
{
    text-decoration: none;
}

.rede 
{
    
    width: auto;
    height: 120px;
    background: #FFF url(../imagens/gavioes.png) center repeat-x;
    text-align: right;
    display: block;
}
ul.menu{
    background: url(../imagens/fundo-horizontal.png) repeat-x;
    width: auto;
}

.horizontal 
{
    border-right: 2px solid rgb(75, 100, 121);

    display: inline;
    margin: 20px;
   
}

#principal
{   
    margin: auto;
    width: 1000px;
    background-color: rgb(244, 246, 247);
    
}

.noticia
{
    width: 265px;
    margin: 5px 10px;
    padding: 20px;
    background-color: rgb(231, 238, 238);
    float: left;
}
.fotos
{   
    
    width: white;
    width: 300px;
    padding: 5px;
    margin: 8px;
    float: left;
}

.clear 
{
    clear: both;
}

.rodape
{
    text-align: center;
    background-color: rgb(175, 179, 179);
}